* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 10px;
}
h2 {
  margin-top: -10px;
  font-size: 2rem;
  padding-bottom: 30px;
}
.taskList-header {
  padding: 30px 40px;
  color: white;
  text-align: center;
  &:after{
    content: "";
    display: table;
    clear: both;
  }
}
.input-container {
  display: flex;
}

.inputTask {
  border: none;
  width: 55%;
  padding: 10px;
  float: left;
  font-size: 16px;
}
.task-priority {
  width: 20%;
  font-size: 16px;
  padding: 10px;
  border-style: none;
  text-indent: 0.01px;
  text-overflow: '';
}
.add-span {
  padding: 10px;
  width: 15%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  &:hover{
    background-color: #bbb;
  }
}
.sort-button {
  border: 0;
  background-color: goldenrod;
}
.taskList-container {
  box-sizing: inherit;
  margin: 0 auto;
  margin-top: 5px;
  max-width: 500px;
  min-height: 650px;
  padding: 10px;
  background-image: url(../images/body.jpg);
  background-size: cover;
}
ul li {
  list-style-type: none;
  position: relative;
  cursor: pointer;
  padding: 12px 8px 12px 40px;
  background: rgba(251, 251, 251, 0.35);
  font-size: 18px;
  &:nth-child(odd){
    background-color: rgba(210, 210, 210, 0.25);
  }
  &:hover {
    background-color: #ddd;
  }
  &.fast {
    background-color: rgba(27, 255, 0, 0.37);
  }
  &.hard {
    background-color: rgba(223, 21, 17, 0.37);
  }
  &.completed {
    background: rgba(56, 42, 42, 0.55);
    color: #fff;
    text-decoration: line-through;
    &::before {
      content: '';
      position: absolute;
      border-color: #fff;
      border-style: solid;
      border-width: 0 2px 2px 0;
      top: 10px;
      left: 16px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      height: 15px;
      width: 7px;
    }
  }
}
.taskList {
  padding-top: 30px;
}
.taskDel-icon {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
  &:hover{
    background-color: #f44336;
    color: white;
  }
}